/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Encabezado principal */
h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
    background-color: #02771c;
    border-bottom: 2px solid #333;
}

/* Subtítulo */
h3 {
    color: #555;
    text-align: center;
    font-style: italic;
}

/* Estilo para los párrafos de texto */
p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    padding: 0 20px;
}

/* Estilo para las listas desordenadas y ordenadas */
ul, ol {
    margin: 10px 0;
    padding: 0 20px;
}

/* Estilo para los elementos de lista */
li {
    color: #777;
    margin-bottom: 5px;
}

/* Estilo para los enlaces */
a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

/* Cambiar el color del enlace al pasar el ratón por encima */
a:hover {
    color: #0056b3;
}

/* Estilo para los iframes (videos) */
iframe {
    display: block;
    margin: 20px auto;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo para el título de los videos */
iframe + h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
}

/* Estilo para los párrafos dentro de iframes */
iframe + h2 + p {
    text-align: center;
    font-size: 14px;
    color: #777;
}

/* Estilo para los enlaces dentro de iframes */
iframe + h2 + p a {
    color: #007bff;
    text-decoration: underline;
}
